<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting Page</title>
    <style>
         body {
            font-family: sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .greeting-container {
            width: 300px;
            margin: 100px auto; /* Увеличил margin-top для видимости */
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            text-align: center;
        }
    </style>
</head>
<body>
<div class="greeting-container">
    <h1>Здравствуйте!</h1>
</div>

<script>
    const delay = 5000;
    function redirectToMain() {
        window.location.href = "/profile";
    }

    setTimeout(redirectToMain, delay);
</script>
</body>
</html>